* {
  box-sizing: border-box;
}
* {
  font-family: arial;
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  font-size: small;
}
nav ul,
nav li {
  list-style: none; /*retira o estilo de pontinhos da lista*/
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
nav ul {
  display: flex; /*deixar a lista flexivel*/
}
nav a {
  display: block; /*para retirar display inline do elemento*/
  padding: 15px;
  text-decoration: none; /*retira sublinhado do link*/
  color: #727272;
}
nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: #ffffff;
}
#banner {
  background-image: url('../images/img1.jpg');
  background-position: center; /*posiciona no centro a imagem*/
  background-size: cover; /*ajusta a imagem de acordo com os monitores*/

  display: flex; /*para deixar area do banner ativa para flexbox*/
  justify-content: center;
}
.column {
  flex-direction: column;
}
.banner_headline {
  flex: 1; /*area com altura e tamanho auto */
  display: flex; /*ATIVEI FLEXBOX*/
  flex-direction: column;
  justify-content: center; /*OBS..só funcionacom display flex ativo*/
  flex-wrap: wrap;
  /*trabalhando texto apenas do h1*/
}
.banner_headline h1 {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  padding: 0;
  max-width: 350px;
  text-shadow: 0px, 1px, 0px, #555555; /*aplicando sombra no texto */
}
/*trabalhando texto apenas do h2*/
.banner_headline h2 {
  color: #ffffff;
  font-size: 21px;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
  text-shadow: 0px, 1px, 0px, #555555; /*aplicando sombra no texto */
}
.banner_headline {
  flex: 1; /*area com altura e tamanho auto */
  display: flex; /*ATIVEI FLEXBOX*/
  flex-direction: column;
  justify-content: center; /*OBS..só funcionacom display felx ativo*/
  flex-wrap: wrap;
}
.banner_options {
  height: 210px; /*area com altura fixa*/
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #ffffff;
  padding: 20px; /* para os textos dentro deste*/
}
.banner1 {
  background-color: #39aae1; /*background dos banner*/
}
.banner2 {
  background-color: #0079c7; /*background dos banner*/
}
.banner3 {
  background-color: #2b4c99; /*background dos banner*/
}
.banner_title {
  /*titulo heading de cada banner*/
  font-size: 21px;
  margin-top: 20px;
}
.banner_desc {
  /*configura banner 1 e 2*/
  font-size: 13px;
  margin-bottom: 20px;
}
.banner_options a {
  /*os 3 banner de opções*/
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
}
.schedule {
  /*correponde a cada bloco de  div do banner 3*/
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0370b8; /*pra colocar essa linha de baixo  só foi possivel fazendo div de bloco em linha ou horizontais*/
  padding: 5px;
  margin-bottom: 10px;
  font-size: 12px;
}
/* iniciando segunda parte do layout do site*/
#section2 {
  display: flex;
  justify-content: center;
}
#section2,
section {
  flex: 2;
}
#section2,
aside {
  flex: 1;
}
.widget_title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 21px;
}
.widget_title_bar {
  background-color: #36a9e1;
  width: 50px;
  height: 3px;
  margin-bottom: 20px;
}

.flex {
  /*class adicionada widget_body da div container do artigo*/
  display: flex;
  flex-wrap: wrap; /* quebrar linha */
}
article {
  flex: 1;
  min-width: 300px; /*larura minima do artigo*/
  margin-right: 20px;
}
article a {
  text-decoration: none;
}
article .news_data {
  display: flex;
}
article .news_posted_at {
  background-color: #2b4c99;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}
article .news_comments {
  background-color: #39aae1;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
}
article .news_thumbnail {
  margin-top: 30px;
}
article .news_thumbnail img {
  width: 100%;
  height: auto;
}
article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 23px;
  color: #000000;
}
article .news_resume {
  font-size: 14px;
  color: #5c5c5c;
  line-height: 20px;
  margin-bottom: 30px;
}
.widget_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.square {
  background-color: #36a9e1;
  width: 152px;
  height: 152px;
  margin-bottom: 20px;
}
.paragrafo {
  display: flex;
  border-bottom: 2px solid #a09b9b;
  padding-bottom: 10px;
  align-items: center;
  margin-top: 10px;
}
.paragrafo,
img {
  margin-right: 5px;
}
b {
  margin-left: 5px;
}
.ancora {
  margin-left: 2px;
  margin-right: 2px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}
.footer_menu {
  display: flex;
}

/*class adicionada ao containner para adicionar opçãode colunas*/
.flexcolumn {
  flex-direction: column; /*para deixar os elementos um abaixo do outro*/
}
.banner_footer {
  padding: auto;
  height: 115px;
  line-height: 10px;
}
.banner_footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer_area {
  display: flex;
}
.footer_area_item {
  flex: 1;
  color: #ffffff;
}
.area_desc {
  font-size: 17px;
}
.widget_body_footer {
  font-size: 15px;
}
.ancoradata {
  text-decoration: none;
  color: #2b4c99;
}
.linkfooter {
  text-decoration: none;
  color: #ffffff;
}
.text1,
.text3 {
  color: #727272;
}
.footer_copy {
  border-top: 1px solid #2c2c2c;
  font-size: 12px;
  color: #5c5c5c;
  margin-top: 30px;
  line-height: 40px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 3px;
  font-size: 14px;
  color: #727272;
}
.bloco2 {
  text-align: start;
  align-self: flex-end;
  align-items: center;
  margin-right: 20px;
}
.p7 a {
  text-decoration: none;
  color: #ffffff;
}
.redes_sociais img {
  margin-right: 5px;
  margin-top: 10px;
  padding: 0;
}
.menu_mobile {
  display: none; /*deixa menu mobile desativado até diminuir o ecra de celular */
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.mm_line {
  height: 3px;
  background-color: #39aae1;
}
/*aplicando responsividade*/
@media (max-width: 700px) {
  .banner_headline {
    padding-left: 20px;
  }
  .banner_headline h1 {
    font-size: 45px;
  }
  .banner_headline h2 {
    font-size: 17px;
  }
  .banner_options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  #section2 .sectionright {
    margin-left: 20px;
  }
  #section2 .sectionleft {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer_menu {
    flex-direction: column;
  }
  .footer_area {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer_copy {
    margin-left: 20px;
  }
  header .container {
    flex-direction: row;
  }
  nav ul {
    flex-direction: column;
    display: none; /* desaparece com o menu*/
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
  header {
    height: auto;
  }
  .menu_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/*diminir espaço entre menu para caber até resolução alvo 700px*/
@media (max-width: 820px) {
  nav a {
    padding: 5px;
  }
}
